.nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    z-index: 10;
    &__items{
        background-color: var(--main-red);
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__link{
        &:link,
        &:visited{
            text-decoration: none;
            display: block;
            padding: 2rem 3rem;
            font-size: 2rem;
            color: var(--main-white);
        }
        &:hover,
        &:active{
            background-color: var(--main-blue);
        }

    }
}